{% extends 'layout/base.html' %} {% block content %}
<section class="container min-vh-100 p-5">
  <h3 class="">Giỏ hàng</h3>
  {% if session.get('cart') %}
  <table class="table mt-3">
   <thead>
      <tr>
        <th>MÃ SP</th>
        <th>Sản phẩm</th>
        <th>Đơn giá</th>
        <th>Số lượng</th>
        <th>Thành tiền</th>
        <th></th>
      </tr>
   </thead>
    <tbody>
        
        {% for p in session['cart'].values() %}
        <tr>
          <td>{{ p['id'] }}</td>
          <td>{{ p['name'] }}</td>
          <td>{{ p['price'] }}</td>
          <td><input type="number" value="{{ p['quantity'] }}" min="0" class="form-control" oninput="updateCart({{p.id}})"></td>
          <td>{{ p['price']*p['quantity'] }}</td>
          <td><button class="btn" onclick="deleteFromCart({{p.id}})">&times;</button></td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
    <div class="alert alert-info text-end">
      <div class=" px-5">Tổng số lượng: <strong>{{ cart['total_quantity'] }} sản phẩm</strong></div>
      <div class="px-5">Tổng cộng: <strong>{{ cart['total_price'] }}đ</strong></div>
    </div>
    <div class="text-end"                                                                                                                                   >
      <button class="btn btn-primary mt-5">Thanh toán</button>
    </div>
  
    {% else %}
      <h5 class="mt-5 text-center">(Không tìm thấy giỏ hàng)</h5>
    {% endif %}
</section>
<script src="{{url_for('static', filename='js/cart.js')}}"></script>
{% endblock %}
