{% extends 'layout/base.html' %}
{% block content %}
<section class="container">
    <h3 class="mt-5">All products</h3>
    <div class="row mt-3 px-5">
        {% for p in products %}
        <div class=" col-xs-12 col-sm-6 col-md-3 p-2 ">
            <div class="card product-card">
                <img class="card-img-top" src="{{ p.image }}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{p.name}}</h4>
                    <p class="card-text">{{ p.price }} vnd</p>
                    <a href="#" class="btn btn-success">Chi tiết</a>
                    <a href="#" class="btn btn-primary">Mua ngay</a>
                </div>
            </div>
        </div>
        {% endfor%}
    </div>

</section>
{% endblock %}